In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords 
from nltk.tokenize import RegexpTokenizer
import nltk
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
import pandas as pd
import numpy as np

# Converting json file to .pkl

In [ ]:
import json
# Opening JSON file
f = open('/content/drive/MyDrive/2nd sem/RS/assignment-3/AMAZON_FASHION.json')
# data = json.load(f) 
x = f.readlines()

In [ ]:
x

In [ ]:
type(x[0])

In [ ]:
result = json.loads(x[1])
result

In [ ]:
final_dict = {}
for i in range(0,883636):
  d = json.loads(x[i])
  final_dict[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index') 
df1

In [ ]:
df1.to_pickle('/content/drive/MyDrive/2nd sem/RS/assignment-3/AMAZON_FASHION.pkl')

In [ ]:
import json
# Opening JSON file
f = open('/content/drive/MyDrive/2nd sem/RS/assignment-3/meta_AMAZON_FASHION.json')
# data = json.load(f) 
x = f.readlines()

In [ ]:
len(x)

In [ ]:
final_dict = {}
for i in range(0,186637):
  d = json.loads(x[i])
  final_dict[i] = d

In [ ]:
df1 = pd.DataFrame.from_dict(final_dict, orient ='index') 
df1

In [ ]:
df1.to_pickle('/content/drive/MyDrive/2nd sem/RS/assignment-3/meta_AMAZON_FASHION.pkl')

# File loading

In [ ]:
df1 = pd.read_pickle("/content/drive/MyDrive/2nd sem/RS/assignment-3/AMAZON_FASHION.pkl")
df1

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2.0,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3,NaN,NaN
2,4.0,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2.0,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3.0,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
883631,5.0,True,"02 21, 2017",A1ZSB2Q144UTEY,B01HJHTH5U,Amazon Customer,I absolutely love this dress!! It's sexy and ...,I absolutely love this dress,1487635200,NaN,NaN,NaN
883632,5.0,True,"11 25, 2016",A2CCDV0J5VB6F2,B01HJHTH5U,Amazon Customer,I'm 5'6 175lbs. I'm on the tall side. I wear a...,I wear a large and ordered a large and it stil...,1480032000,2,NaN,NaN
883633,3.0,True,"11 10, 2016",A3O90PACS7B61K,B01HJHTH5U,Fabfifty,Too big in the chest area!,Three Stars,1478736000,NaN,NaN,NaN
883634,3.0,True,"11 10, 2016",A2HO94I89U3LNH,B01HJHF97K,Mgomez,"Too clear in the back, needs lining",Three Stars,1478736000,NaN,NaN,NaN
883635,5.0,True,"08 9, 2016",A2RSX9E79DUHRX,B01HJG5NMW,Natasha Mascarenhas,Ordered and was slightly small. Worked with th...,The quality is excellent and it is so cute,1470700800,NaN,NaN,NaN

In [ ]:
df2 = pd.read_pickle("/content/drive/MyDrive/2nd sem/RS/assignment-3/meta_AMAZON_FASHION.pkl")
df2

,title,brand,feature,rank,date,asin,imageURL,imageURLHighRes,description,price,also_view,also_buy,fit,details,similar_item,tech1
0,Slime Time Fall Fest [With CDROM and Collector...,Group Publishing (CO),[Product Dimensions:\n \n8....,"13,052,976inClothing,Shoesamp;Jewelry(",8.70 inches,0764443682,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XCC Qi promise new spider snake preparing men'...,NaN,NaN,"11,654,581inClothing,Shoesamp;Jewelry(",5 star,1291691480,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Magical Things I Really Do Do Too!,Christopher Manos,[Package Dimensions:\n \n8....,"19,308,073inClothing,ShoesJewelry(",5 star,1940280001,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,[For the professional or amateur magician. Ro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ashes to Ashes, Oranges to Oranges",Flickerlamp Publishing,[Package Dimensions:\n \n8....,"19,734,184inClothing,ShoesJewelry(",5 star,1940735033,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aether & Empire #1 - 2016 First Printing Comic...,NaN,[Package Dimensions:\n \n10...,"10,558,646inClothing,Shoesamp;Jewelry(",5 star,1940967805,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,$4.50,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6855,NaN,GUESS,NaN,NaN,5 star,B002Y2F192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58116,NaN,Favebridal,[Package Dimensions:\n \n10...,"5,143,860inClothing,ShoesJewelry(",5 star,B00NBF3FDK,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9345,NaN,NaN,[Shipping Information:\n \n...,"3,376,854inClothing,ShoesJewelry(",NA,B004U7OHV2,NaN,NaN,NaN,$5.99 - $8.99,NaN,NaN,NaN,NaN,NaN,NaN
144648,NaN,NaN,[Package Dimensions:\n \n9....,"1,385,785inClothing,ShoesJewelry(",5 star,B01AWWE8A8,NaN,NaN,NaN,$13.95,NaN,"[B07C91QJW2, B079NQ5XKW, B07CQ759K6, B00I77CGJ...",NaN,NaN,NaN,NaN
169249,NaN,NaN,"[70% Cotton , 26% Nylon , 3% Spandex , 1% Rubb...","722,774inClothing,ShoesJewelry(",5 star,B01ESQY6YC,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,[Trimfit - wear tested since 1921 -the name sa...,$13.98 - $18.00,"[B01ESQY3TU, B074JQJBBL, B00A17KAUW, B011SQ5IR...","[B00AQF9BRW, B074JQJBBL, B011SQ5IHY, B005KGMQ7...","class=""a-normal a-align-center a-spacing-smal...",NaN,NaN,NaN

In [ ]:
user_counts = df1["reviewerID"].value_counts()
user_counts

A3G5KDMFNRUXHB    40
A3JBQHQZEZPQK4    36
A1RRX286ZRI830    32
A2PBHVTPTIIGKR    31
A2GP4EJIAA2OE0    29
                  ..
A3F8ZWBOAZUZE2     1
A2HI8EO6V5PST8     1
A3GKQ3VSTGLAHW     1
A3HEDQXYV9OCVR     1
A2RSX9E79DUHRX     1
Name: reviewerID, Length: 749233, dtype: int64

In [ ]:
active_users = user_counts.loc[user_counts >= 4].index.tolist()
len(active_users)

8886

In [ ]:
df1 = df1[(df1['reviewerID'].isin(active_users))]
df1

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
70,5.0,True,"04 16, 2015",A3TLFFGO88RXWZ,B00007GDFV,Brebojack,Hard to find and still the best,Five Stars,1429142400,NaN,{'Color:': ' Black'},NaN
114,4.0,True,"12 9, 2015",AAQO19HKS86MQ,B00008JOQI,Nina W.,Nice shirt,Four Stars,1449619200,NaN,"{'Size:': ' 19 - 37', 'Color:': ' Blue'}",NaN
269,5.0,False,"11 2, 2009",AYO765T1ZJI44,B0002Z1JNK,pyroguy,"Just came across this boot, and i'm surprised ...",great boot for an even greater price,1257120000,3,NaN,NaN
272,5.0,False,"04 13, 2015",A337NHSPPD1DVM,B0002Z1JNK,Princess,I LOVE these boots. This is my second pair. My...,I LOVE these boots,1428883200,NaN,"{'Size:': ' 8 B(M) US', 'Color:': ' Black Pate...",NaN
1024,5.0,True,"07 17, 2017",A1Y7J3L1EY1MTR,B00066G516,ronleedun,Very frilly,Five Stars,1500249600,NaN,"{'Size:': ' One Size', 'Color:': ' White'}",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
883488,5.0,True,"10 25, 2016",AQD8V7FVRKZIF,B01HJ0SUZK,Southernfae,These are super cute. They are also pretty com...,Super cute shoe,1477353600,9,NaN,NaN
883559,1.0,True,"09 27, 2016",A2E01AZPAB016,B01HJEO9SS,I HEART Amazon Diva,Runs small. Material thin.,One Star,1474934400,NaN,NaN,NaN
883580,4.0,True,"08 3, 2016",A2HOQJXDFZP9Y7,B01HJG5NLI,Frances V. Roberts,Read reviews ordered size up fot is perfect re...,Very pretty read reviews for sizing,1470182400,NaN,NaN,NaN
883590,5.0,True,"08 15, 2016",A21DXQFAP5TTHY,B01HJEOBUO,Kaela,This is beautiful. Fits as expected. It is ver...,Sexy and flattering.,1471219200,NaN,NaN,NaN
883630,4.0,True,"02 21, 2017",ARI5TGQ03D3NT,B01HJHTH5U,Leigh Ann Barcellona,This dress is quite sexy with the plunging nec...,if your tall...wear flats with this dress,1487635200,5,NaN,[https://images-na.ssl-images-amazon.com/image...

In [ ]:
stopwords = stopwords.words('english')
# df1['review_new'] = df1['reviewText'].apply(lambda x : ' '.join( [word for word in x.split() if word not in (stopwords)] ))
# df1

In [ ]:
df1.iloc[:,6]

70                          Hard to find and still the best
114                                              Nice shirt
269       Just came across this boot, and i'm surprised ...
272       I LOVE these boots. This is my second pair. My...
1024                                            Very frilly
                                ...
883488    These are super cute. They are also pretty com...
883559                           Runs small. Material thin.
883580    Read reviews ordered size up fot is perfect re...
883590    This is beautiful. Fits as expected. It is ver...
883630    This dress is quite sexy with the plunging nec...
Name: reviewText, Length: 44769, dtype: object

In [ ]:
df1.isna().sum()

overall               0
verified              0
reviewTime            0
reviewerID            0
asin                  0
reviewerName          8
reviewText           63
summary              30
unixReviewTime        0
vote              40282
style             28515
image             42589
dtype: int64

In [ ]:
df1 = df1[~df1['reviewText'].isna()]

In [ ]:
df1.isna().sum()

overall               0
verified              0
reviewTime            0
reviewerID            0
asin                  0
reviewerName          8
reviewText            0
summary              26
unixReviewTime        0
vote              40223
style             28481
image             42542
dtype: int64

In [ ]:
df1['review_new'] = df1['reviewText'].apply(lambda x : ' '.join( [word for word in x.split() if word not in (stopwords)] ))
df1

<ipython-input-29-482f03ba3373>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['review_new'] = df1['reviewText'].apply(lambda x : ' '.join( [word for word in x.split() if word not in (stopwords)] ))

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image,review_new
70,5.0,True,"04 16, 2015",A3TLFFGO88RXWZ,B00007GDFV,Brebojack,Hard to find and still the best,Five Stars,1429142400,NaN,{'Color:': ' Black'},NaN,Hard find still best
114,4.0,True,"12 9, 2015",AAQO19HKS86MQ,B00008JOQI,Nina W.,Nice shirt,Four Stars,1449619200,NaN,"{'Size:': ' 19 - 37', 'Color:': ' Blue'}",NaN,Nice shirt
269,5.0,False,"11 2, 2009",AYO765T1ZJI44,B0002Z1JNK,pyroguy,"Just came across this boot, and i'm surprised ...",great boot for an even greater price,1257120000,3,NaN,NaN,"Just came across boot, i'm surprised good look..."
272,5.0,False,"04 13, 2015",A337NHSPPD1DVM,B0002Z1JNK,Princess,I LOVE these boots. This is my second pair. My...,I LOVE these boots,1428883200,NaN,"{'Size:': ' 8 B(M) US', 'Color:': ' Black Pate...",NaN,I LOVE boots. This second pair. My last pair l...
1024,5.0,True,"07 17, 2017",A1Y7J3L1EY1MTR,B00066G516,ronleedun,Very frilly,Five Stars,1500249600,NaN,"{'Size:': ' One Size', 'Color:': ' White'}",NaN,Very frilly
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883488,5.0,True,"10 25, 2016",AQD8V7FVRKZIF,B01HJ0SUZK,Southernfae,These are super cute. They are also pretty com...,Super cute shoe,1477353600,9,NaN,NaN,These super cute. They also pretty comfortable...
883559,1.0,True,"09 27, 2016",A2E01AZPAB016,B01HJEO9SS,I HEART Amazon Diva,Runs small. Material thin.,One Star,1474934400,NaN,NaN,NaN,Runs small. Material thin.
883580,4.0,True,"08 3, 2016",A2HOQJXDFZP9Y7,B01HJG5NLI,Frances V. Roberts,Read reviews ordered size up fot is perfect re...,Very pretty read reviews for sizing,1470182400,NaN,NaN,NaN,Read reviews ordered size fot perfect read rev...
883590,5.0,True,"08 15, 2016",A21DXQFAP5TTHY,B01HJEOBUO,Kaela,This is beautiful. Fits as expected. It is ver...,Sexy and flattering.,1471219200,NaN,NaN,NaN,This beautiful. Fits expected. It low cut work...
883630,4.0,True,"02 21, 2017",ARI5TGQ03D3NT,B01HJHTH5U,Leigh Ann Barcellona,This dress is quite sexy with the plunging nec...,if your tall...wear flats with this dress,1487635200,5,NaN,[https://images-na.ssl-images-amazon.com/image...,This dress quite sexy plunging neckline. I fel...

In [ ]:
lemmatizer = WordNetLemmatizer()

def lemmatize_words(text):
  words = text.split()
  words = [lemmatizer.lemmatize(word,pos='v') for word in words]
  return ' '.join(words)

df1['review_new'] = df1['review_new'].apply(lemmatize_words)

<ipython-input-30-d9a45125f225>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['review_new'] = df1['review_new'].apply(lemmatize_words)

In [ ]:
df1

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image,review_new
70,5.0,True,"04 16, 2015",A3TLFFGO88RXWZ,B00007GDFV,Brebojack,Hard to find and still the best,Five Stars,1429142400,NaN,{'Color:': ' Black'},NaN,Hard find still best
114,4.0,True,"12 9, 2015",AAQO19HKS86MQ,B00008JOQI,Nina W.,Nice shirt,Four Stars,1449619200,NaN,"{'Size:': ' 19 - 37', 'Color:': ' Blue'}",NaN,Nice shirt
269,5.0,False,"11 2, 2009",AYO765T1ZJI44,B0002Z1JNK,pyroguy,"Just came across this boot, and i'm surprised ...",great boot for an even greater price,1257120000,3,NaN,NaN,"Just come across boot, i'm surprise good look,..."
272,5.0,False,"04 13, 2015",A337NHSPPD1DVM,B0002Z1JNK,Princess,I LOVE these boots. This is my second pair. My...,I LOVE these boots,1428883200,NaN,"{'Size:': ' 8 B(M) US', 'Color:': ' Black Pate...",NaN,I LOVE boots. This second pair. My last pair l...
1024,5.0,True,"07 17, 2017",A1Y7J3L1EY1MTR,B00066G516,ronleedun,Very frilly,Five Stars,1500249600,NaN,"{'Size:': ' One Size', 'Color:': ' White'}",NaN,Very frilly
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883488,5.0,True,"10 25, 2016",AQD8V7FVRKZIF,B01HJ0SUZK,Southernfae,These are super cute. They are also pretty com...,Super cute shoe,1477353600,9,NaN,NaN,These super cute. They also pretty comfortable...
883559,1.0,True,"09 27, 2016",A2E01AZPAB016,B01HJEO9SS,I HEART Amazon Diva,Runs small. Material thin.,One Star,1474934400,NaN,NaN,NaN,Runs small. Material thin.
883580,4.0,True,"08 3, 2016",A2HOQJXDFZP9Y7,B01HJG5NLI,Frances V. Roberts,Read reviews ordered size up fot is perfect re...,Very pretty read reviews for sizing,1470182400,NaN,NaN,NaN,Read review order size fot perfect read review...
883590,5.0,True,"08 15, 2016",A21DXQFAP5TTHY,B01HJEOBUO,Kaela,This is beautiful. Fits as expected. It is ver...,Sexy and flattering.,1471219200,NaN,NaN,NaN,This beautiful. Fits expected. It low cut work...
883630,4.0,True,"02 21, 2017",ARI5TGQ03D3NT,B01HJHTH5U,Leigh Ann Barcellona,This dress is quite sexy with the plunging nec...,if your tall...wear flats with this dress,1487635200,5,NaN,[https://images-na.ssl-images-amazon.com/image...,This dress quite sexy plunge neckline. I felt ...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer

tfidf = TfidfVectorizer(min_df=3 ,max_features=50, strip_accents= 'unicode',analyzer='word',token_pattern = r'\w{1,}',ngram_range=(1,3) )
tfidf_matrix = tfidf.fit_transform(df1['review_new'])

In [ ]:
tfidf_matrix = tfidf_matrix.toarray()

In [ ]:
tfidf_matrix

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.24062335, 0.28893523,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.20934414, 0.        , 0.        , ..., 0.15691508, 0.18842017,
        0.18511938]])

In [ ]:
df = pd.DataFrame(tfidf_matrix)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.272808,...,0.000000,0.308213,0.000000,0.000000,0.0,0.0,0.000000,0.240623,0.288935,0.000000
3,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.556289,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44701,0.000000,0.0,0.197695,0.201546,0.189244,0.000000,0.0,0.0,0.000000,0.000000,...,0.215625,0.205775,0.000000,0.225759,0.0,0.0,0.000000,0.481950,0.000000,0.189526
44702,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
44703,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
44704,0.000000,0.0,0.000000,0.000000,0.000000,0.457389,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.391145,0.000000,0.0,0.0,0.447205,0.000000,0.000000,0.000000
44705,0.209344,0.0,0.000000,0.000000,0.000000,0.413820,0.0,0.0,0.212274,0.000000,...,0.000000,0.000000,0.176943,0.000000,0.0,0.0,0.000000,0.156915,0.188420,0.185119

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44706 entries, 70 to 883630
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   overall         44706 non-null  float64
 1   verified        44706 non-null  bool
 2   reviewTime      44706 non-null  object
 3   reviewerID      44706 non-null  object
 4   asin            44706 non-null  object
 5   reviewerName    44698 non-null  object
 6   reviewText      44706 non-null  object
 7   summary         44680 non-null  object
 8   unixReviewTime  44706 non-null  int64
 9   vote            4483 non-null   object
 10  style           16225 non-null  object
 11  image           2164 non-null   object
 12  review_new      44706 non-null  object
dtypes: bool(1), float64(1), int64(1), object(10)
memory usage: 4.5+ MB

In [ ]:
a = list(df1['reviewerID'])
user = df.copy()
user['reviewerID'] = df1['reviewerID'] 
for i in range(0,len(df1)) :
  user.iloc[i,-1] = df1.iloc[i,3]
user

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,reviewerID
0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,A3TLFFGO88RXWZ
1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,AAQO19HKS86MQ
2,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.272808,...,0.308213,0.000000,0.000000,0.0,0.0,0.000000,0.240623,0.288935,0.000000,AYO765T1ZJI44
3,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.556289,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,A337NHSPPD1DVM
4,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.000000,A1Y7J3L1EY1MTR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44701,0.000000,0.0,0.197695,0.201546,0.189244,0.000000,0.0,0.0,0.000000,0.000000,...,0.205775,0.000000,0.225759,0.0,0.0,0.000000,0.481950,0.000000,0.189526,AQD8V7FVRKZIF
44702,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,A2E01AZPAB016
44703,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,A2HOQJXDFZP9Y7
44704,0.000000,0.0,0.000000,0.000000,0.000000,0.457389,0.0,0.0,0.000000,0.000000,...,0.000000,0.391145,0.000000,0.0,0.0,0.447205,0.000000,0.000000,0.000000,A21DXQFAP5TTHY
44705,0.209344,0.0,0.000000,0.000000,0.000000,0.413820,0.0,0.0,0.212274,0.000000,...,0.000000,0.176943,0.000000,0.0,0.0,0.000000,0.156915,0.188420,0.185119,ARI5TGQ03D3NT

In [ ]:
b = list(df1['asin'])
items = df.copy()
items['asin'] = df1['asin'] 
for i in range(0,len(df1)) :
  items.iloc[i,-1] = df1.iloc[i,4]
items

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,asin
0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,B00007GDFV
1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,B00008JOQI
2,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.272808,...,0.308213,0.000000,0.000000,0.0,0.0,0.000000,0.240623,0.288935,0.000000,B0002Z1JNK
3,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.556289,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,B0002Z1JNK
4,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.000000,B00066G516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44701,0.000000,0.0,0.197695,0.201546,0.189244,0.000000,0.0,0.0,0.000000,0.000000,...,0.205775,0.000000,0.225759,0.0,0.0,0.000000,0.481950,0.000000,0.189526,B01HJ0SUZK
44702,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,B01HJEO9SS
44703,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,B01HJG5NLI
44704,0.000000,0.0,0.000000,0.000000,0.000000,0.457389,0.0,0.0,0.000000,0.000000,...,0.000000,0.391145,0.000000,0.0,0.0,0.447205,0.000000,0.000000,0.000000,B01HJEOBUO
44705,0.209344,0.0,0.000000,0.000000,0.000000,0.413820,0.0,0.0,0.212274,0.000000,...,0.000000,0.176943,0.000000,0.0,0.0,0.000000,0.156915,0.188420,0.185119,B01HJHTH5U

In [ ]:
#user.to_pickle('/content/drive/MyDrive/2nd sem/RS/assignment-3/content_based/user.pkl')
items.to_pickle('/content/drive/MyDrive/2nd sem/RS/assignment-3/content_based/items.pkl')

# Cosine

In [ ]:
#df1_new = pd.read_csv("/content/drive/MyDrive/2nd sem/RS/assignment-3/content_based/data.csv")
df1_new = df1.copy()

In [ ]:
#user = pd.read_pickle("/content/drive/MyDrive/2nd sem/RS/assignment-3/content_based/user.pkl")

In [ ]:
user = user.groupby('reviewerID', as_index=False).mean()

In [ ]:
user

,reviewerID,0,1,2,3,4,5,6,7,8,...,40,41,42,43,44,45,46,47,48,49
0,A00248626G99Y8GVGKKQ,0.000000,0.0,0.200107,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.203264,0.000000,0.000000,0.000000,0.000000
1,A0813066D2W6LAAKNHC6,0.189206,0.0,0.000000,0.177923,0.167063,0.055239,0.339726,0.160859,0.000000,...,0.000000,0.181656,0.000000,0.0,0.000000,0.000000,0.000000,0.325532,0.050303,0.000000
2,A0986263H7SX62P1SRDD,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,A10036437T54UNY5JRYU,0.000000,0.0,0.161802,0.000000,0.000000,0.000000,0.234420,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.199147,0.000000,0.000000,0.000000,0.175864,0.000000
4,A101HTPLV9HVMR,0.000000,0.0,0.000000,0.083420,0.060933,0.087678,0.061480,0.000000,0.069975,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.066493,0.000000,0.061023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8874,AZZ86CGV9BOZ0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.081677,0.0,0.000000,0.000000,0.000000,0.072432,0.000000,0.000000
8875,AZZC7RYE3RMLL,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8876,AZZKYP9254H32,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.238727,0.000000,0.0,0.000000,0.000000,0.240284,0.186375,0.000000,0.000000
8877,AZZT1ERHBSNQ8,0.000000,0.0,0.000000,0.204027,0.000000,0.000000,0.058444,0.071694,0.000000,...,0.084839,0.161927,0.000000,0.0,0.000000,0.000000,0.128176,0.000000,0.119380,0.150312
8878,AZZXCFBNEWIBQ,0.000000,0.0,0.072766,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.061539,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
#items = pd.read_pickle("/content/drive/MyDrive/2nd sem/RS/assignment-3/content_based/items.pkl")

In [ ]:
items = items.groupby('asin', as_index=False).mean()

In [ ]:
items

,asin,0,1,2,3,4,5,6,7,8,...,40,41,42,43,44,45,46,47,48,49
0,7106116521,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
1,B00007GDFV,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
2,B00008JOQI,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
3,B00008JPRZ,0.000000,0.0,0.0,0.0,0.0,0.000000,0.394492,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
4,B00008JQLL,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.506955,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20580,B01HJEO9SS,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
20581,B01HJEOBUO,0.000000,0.0,0.0,0.0,0.0,0.457389,0.000000,0.0,0.000000,...,0.0,0.0,0.391145,0.0,0.0,0.0,0.447205,0.000000,0.00000,0.000000
20582,B01HJG5NLI,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
20583,B01HJGJ9LS,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000
20584,B01HJHTH5U,0.209344,0.0,0.0,0.0,0.0,0.413820,0.000000,0.0,0.212274,...,0.0,0.0,0.176943,0.0,0.0,0.0,0.000000,0.156915,0.18842,0.185119

In [ ]:
def prediction(s):
    user_index = user.index[user['reviewerID'] == s]
    items_consumed = df1_new['asin'][df1_new['reviewerID'] == s]
    items_consumed = list(items_consumed)
    cosine = np.dot(user.iloc[user_index,1:],(items.iloc[:,1:] ).T)
    suggest = (pd.DataFrame(cosine))
    suggest.columns = items['asin']
    a = suggest.columns
    suggest = suggest.T
    suggest['item'] = a
    suggest = suggest.iloc[:-1,:]
    suggest = suggest.sort_values(by=[0], ascending=False)
    item_list = suggest['item']
    item_suggest =  [x for x in item_list if x not in items_consumed]
    return item_suggest[:10]

In [ ]:
prediction('A00248626G99Y8GVGKKQ')

['B013OZMYGK',
 'B010JT9UFW',
 'B013QNZ1P6',
 'B00DAMT23G',
 'B01A6K42LG',
 'B019ODJ96E',
 'B013A4F3Q8',
 'B00VM5BMO0',
 'B00NQLSO9O',
 'B00IUB2V1C']